<footer class="bg-dark py-4">
    <div class="container">
        <div class="d-flex flex-row py-3">
            <div class="p-2 flex-fill"><img class="img-white" src="logo.svg" height="40" alt="Image" /></div>
            <div class="p-2 flex-fill text-end">
                <span><img class="img-white" src="icons/question-fill-svgrepo-com.svg" alt="icon" height="20"></span>
                <a href="#" class="link-light">Help</a>
            </div>
        </div>

        <div class="border-top border-bottom border-secondary py-3">
            <span><a href="#" class="link-light text-decoration-none"><img src="images/app-store.png" alt="apple-store" height="40"></a></span>
            <span><a href="#" class="link-light text-decoration-none"><img src="images/google-play.png" alt="google-play" height="40"></a></span>
        </div>

        <div class="row text-light py-4">
            <div class="col-6 col-md-3">
                <h6>Company</h6>
                <ul class="nav flex-column">
                    <li class="nav-item ">
                        <a class="nav-link link-light fw-light px-0" href="#">About Blacklane</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link link-light fw-light px-0" href="#">Career</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link link-light fw-light px-0" href="#">Press</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link link-light fw-light px-0">Blog</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link link-light fw-light px-0">Green initiatives</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link link-light fw-light px-0">Chauffeur partners</a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-md-3">
                <h6>Business travel</h6>
                <ul class="nav flex-column">
                    <li class="nav-item ">
                        <a class="nav-link link-light fw-light px-0" href="#">Business solutions</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link link-light fw-light px-0" href="#">Travel agencies</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link link-light fw-light px-0" href="#">Event services</a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-md-3">
                <h6>Top cities</h6>
                <ul class="nav flex-column">
                    <li class="nav-item ">
                        <a class="nav-link link-light fw-light px-0" href="#">New York</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link link-light fw-light px-0" href="#">London</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link link-light fw-light px-0" href="#">Berlin</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link link-light fw-light px-0">Los Angeles</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link link-light fw-light px-0">Paris</a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-md-3">
                <h6>Explore</h6>
                <ul class="nav flex-column">
                    <li class="nav-item ">
                        <a class="nav-link link-light fw-light px-0" href="#">Intercity rides</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link link-light fw-light px-0" href="#">Limousine service</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link link-light fw-light px-0" href="#">Chauffeur service</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link link-light fw-light px-0">Private car service</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link link-light fw-light px-0">Ground transportation</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link link-light fw-light px-0">Airport transfer</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="border-top border-secondary py-3">
            <div class="d-flex flex-row">
                <div class="text-light ">&copy; @(DateTime.Now.Year) Luefty</div>
                <div class="">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link link-secondary py-0 px-3" href="#">Terms</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link-secondary py-0 px-3" href="#">Privacy Policy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link-secondary py-0 px-3" href="#">Legal Notice</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link-secondary py-0 px-3">Accessibility</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</footer>