@inherits LayoutComponentBase

<PageTitle>Luefty</PageTitle>

<div class="page">

    <div class="container-fluid">
        <Header />

        <div class="container">
            @Body
        </div>
    </div>

   
</div>

