@page "/business"

<PageTitle>Business Solutions</PageTitle>

<div class="">
    <div class="container">
        <h3 class="py-3">Seamless travel solutions on a global scale</h3>
    </div>

    <div>
        <img class="img-fluid" src="images/slides/Desktop_1440_360.webp" />
    </div>

    <div class="">
        <div class="container py-4">
            <div class="row mb-4">
                <div class="col-md-6">
                    <img src="images/10_1280x769.webp" class="img-fluid" />
                </div>

                <div class="col-md-6">
                    <div class="fs-3 py-2">Small and medium enterprises</div>
                    <div class="fw-light mb-2">
                        Easily manage ground transportation around the world.

                        <ul>
                            <li>Login access for up to 500 travelers</li>
                            <li>Global supply of licensed and insured chauffeurs</li>
                            <li>Various user roles designed to reflect any office set up</li>
                            <li>Full duty of care and safety-driven practices</li>
                        </ul>
                    </div>

                    <a class="btn btn-primary btn-lg">Create account</a>
                </div>
            </div>

            <div class="row mb-4">

                <div class="col-md-6">
                    <div class="fs-3 py-2">Large organizations</div>
                    <div class="fw-light mb-2">
                        Enjoy customized solutions that cater to your business.

                        <ul>
                            <li>Login access for up to 500 travelers</li>
                            <li>Dedicated Key Account Manager</li>
                            <li>Login access for 500+ travelers</li>
                            <li>Global tender expertise</li>
                            <li>Full duty of care and safety-driven practices</li>
                            <li>Corporate rebates</li>
                            <li>OBE integration possibilities</li>
                        </ul>
                    </div>

                    <a class="btn btn-primary btn-lg">Contact us</a>
                </div>

                <div class="col-md-6">
                    <img src="images/image-2.webp" class="img-fluid" />
                </div>
            </div>

        </div>
    </div>
    @*End blog*@

    <div class="bg-dark">
        <div class="container py-4">
            <div class="row">
                <div class="col-md-8">
                    <div class="bg-danger bg-gradient p-4 text-light">
                        <div class="fs-1">
                            I'M MORE THAN <br />
                            A CHAUFFEUR,
                        </div>
                        <div class="fs-4">
                            I'M YOUR ALTERNATIVE <br />
                            TO AIRPLANE MODE.
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    @*End text*@

<div class="container py-4">
    <h1 class="text-center py-4">Testimonials</h1>

    <p>"Blacklane's instant email confirmation and the streamlined online booking process makes it very convenient for me to book rides for my travelers. I know that I can rely on Blacklane's high quality standards worldwide and in the rare case of an incident, Blacklane contacts me directly to solve the issue. I feel like the customer is the main focus of Blacklane, which makes me feel taken care of."</p>

    <p><strong>- Tom Grover, European VSP, Smith & Nephew</strong></p>

    <p>"Blacklane represents one of the most important parts of my itinerary. Whether I am traveling in Asia, Europe, or the Middle East, Blacklane’s global, streamlined service means I receive the same high-end chauffeur service no matter where I am in the world. Quite simply, it’s done right and it’s done consistently. A first class service."</p>

    <p><strong>- William Milowitz, Chief Executive Officer, Turf Care Supply Corp</strong></p>

    <p>"Blacklane’s easy-to-use booking platform, cashless payment, real-time status updates, and reliability are the biggest benefits for our travelers."</p>

    <p><strong>- Helen Andrews, Travel Administrator, Motorola Solutions UK Ltd</strong></p>
</div>

    <div class="container py-4">
        <div class="row">
            <div class="col-4 text-center">
                <div class="py-3">
                    <img src="icons/shield-checked-svgrepo-com.svg" height="60" />
                </div>

                <div class="fs-4 py-2">Safety first</div>
                <div class="">Travel confidently knowing your safety is our #1 priority. Rigorous health and cleaning standards round out a best-in-class service.</div>

            </div>

            <div class="col-4 text-center">
                <div class="py-3">
                    <img src="icons/car-svgrepo-com.svg" height="60" />
                </div>

                <div class="fs-4 py-2">Private travel solutions</div>
                <div class="">Discover your one-stop travel shop: long-distance rides, one way or return, by the hour, airport transfers, special deliveries.</div>

            </div>

            <div class="col-4 text-center">
                <div class="py-3 py-2">
                    <img src="icons/leaf-svgrepo-com.svg" height="60" />
                </div>

                <div class="fs-4">Sustainable travel</div>
                <div class="">Breathe easy knowing all rides are 100% carbon neutral, as part of our global carbon offset program — the industry’s first.</div>

            </div>
        </div>
    </div>
    @*End icons*@

</div>


