@page "/city-to-city"

<PageTitle>Intercity routes</PageTitle>
<div class="">
    <div class="container">
        <h3 class="py-3">Discover the comfort of intercity rides</h3>
    </div>

    <div>
        <img class="img-fluid" src="images/slides/Desktop_1440_360.webp" />
    </div>

    <div class="container py-4">
        <div class="row">
            <div class="col-4 text-center">
                <div class="py-3">
                    <img src="icons/shield-checked-svgrepo-com.svg" height="60" />
                </div>

                <div class="fs-4 py-2">Safety first</div>
                <div class="">Travel confidently knowing your safety is our #1 priority. Rigorous health and cleaning standards round out a best-in-class service.</div>

            </div>

            <div class="col-4 text-center">
                <div class="py-3">
                    <img src="icons/car-svgrepo-com.svg" height="60" />
                </div>

                <div class="fs-4 py-2">Private travel solutions</div>
                <div class="">Discover your one-stop travel shop: long-distance rides, one way or return, by the hour, airport transfers, special deliveries.</div>

            </div>

            <div class="col-4 text-center">
                <div class="py-3 py-2">
                    <img src="icons/leaf-svgrepo-com.svg" height="60" />
                </div>

                <div class="fs-4">Sustainable travel</div>
                <div class="">Breathe easy knowing all rides are 100% carbon neutral, as part of our global carbon offset program — the industry’s first.</div>

            </div>
        </div>
    </div>
    @*End icons*@


    <div class="bg-light py-4">
        <div class="container">
            <h1 class="text-center">Intercity routes</h1>

            <div class="py-4">
                <h3>Top cities</h3>
                <div class="row">
                    <div class="col-3">
                        <div class="card">
                            <img src="images/intercity_rides.jpeg" class="card-img-top" alt="Rides">
                            <div class="card-body">
                                <span class="fs-6">London</span> <br />
                                <small class="fw-light">20 ourtes to/from this city</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="card">
                            <img src="images/intercity_rides.jpeg" class="card-img-top" alt="Rides">
                            <div class="card-body">
                                <span class="fs-6">London</span><br />
                                <small class="fw-light">20 ourtes to/from this city</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="card">
                            <img src="images/intercity_rides.jpeg" class="card-img-top" alt="Rides">
                            <div class="card-body">
                                <span class="fs-6">London</span><br />
                                <small class="fw-light">20 ourtes to/from this city</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="card">
                            <img src="images/intercity_rides.jpeg" class="card-img-top" alt="Rides">
                            <div class="card-body">
                                <span class="fs-6">London</span><br />
                                <small class="fw-light">20 ourtes to/from this city</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="py-4">
                <h3>Top routes</h3>
                <div class="row">
                    <div class="col-3 mb-2">
                        <div class="card">
                            <div class="card-body">
                                <span class="fs-6">London <span class="oi oi-arrow-right"></span> Brighton</span><br />
                                <small class="fw-light">1h 30m  70 mi</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="card mb-2">
                            <div class="card-body">
                                <span class="fs-6">London <span class="oi oi-arrow-right"></span> Cheltenham</span><br />
                                <small class="fw-light">2h 30m  96 mi</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="card mb-2">
                            <div class="card-body">
                                <span class="fs-6">London <span class="oi oi-arrow-right"></span> Hamburg</span><br />
                                <small class="fw-light">3h 15m  287 km</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="card mb-2">
                            <div class="card-body">
                                <span class="fs-6">London <span class="oi oi-arrow-right"></span> Northampton</span><br />
                                <small class="fw-light">1h 45m  68 mi</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="card mb-2">
                            <div class="card-body">
                                <span class="fs-6">London <span class="oi oi-arrow-right"></span> Brighton</span><br />
                                <small class="fw-light">1h 30m  70 mi</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="card mb-2">
                            <div class="card-body">
                                <span class="fs-6">London <span class="oi oi-arrow-right"></span> Cheltenham</span><br />
                                <small class="fw-light">2h 30m  96 mi</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="card mb-2">
                            <div class="card-body">
                                <span class="fs-6">London <span class="oi oi-arrow-right"></span> Hamburg</span><br />
                                <small class="fw-light">3h 15m  287 km</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="card mb-2">
                            <div class="card-body">
                                <span class="fs-6">London <span class="oi oi-arrow-right"></span> Northampton</span><br />
                                <small class="fw-light">1h 45m  68 mi</small>
                            </div>
                        </div>
                    </div>
                </div>
                @*End row*@

                <div class="row">
                    <div class="col">
                        <div class="col-12">
                            <div class="card mb-2">
                                <div class="card-body">
                                    <div class="d-flex">
                                        <div class="p-2 flex-grow-1">
                                            <span class="fs-6">Don't see the route you are looking for?</span><br />
                                            <small class="fw-light">Enter your ideal destinations to see the price.</small>
                                        </div>
                                        <div class="p-2">
                                            <a class="btn btn-primary btn-block btn-lg">Book an intercity ride</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*End Intercity routes*@


    <div class="">
        <div class="container py-4">
            <div class="row mb-4">
                <div class="col-md-6">
                    <img src="images/10_1280x769.webp" class="img-fluid" />
                </div>

                <div class="col-md-6">
                    <div class="fs-3 py-2">Maximize your time</div>
                    <div class="fw-light">
                        With Blacklane’s intercity rides, the ease of long-distance travel is more comfortable than ever. You’ll save time by skipping the airports and train stations, and can instead use the travel time how you’d like — private phone calls, last-minute presentation prep, or even catching up on sleep. Our chauffeurs are bound by discretion and give you the space and privacy you need to deliver your best.
                    </div>
                </div>
            </div>

            <div class="row mb-4">

                <div class="col-md-6">
                    <div class="fs-3 py-2">Stress-free solution</div>
                    <div class="fw-light">
                        Booking our intercity rides as an alternative to flights, trains, or car rentals means avoiding the crowds and staying safe on your long-distance journey. Instead of enduring long lines and multiple interactions before you even hit the road, you just enjoy the comfort of a private transfer in a top-of-the-line vehicle.
                    </div>
                </div>

                <div class="col-md-6">
                    <img src="images/image-2.webp" class="img-fluid" />
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-md-6">
                    <img src="images/11_1280x769.webp" class="img-fluid" />
                </div>

                <div class="col-md-6">
                    <div class="fs-3 py-2">Cost certainty and flexibility</div>
                    <div class="fw-light">
                        Rates are guaranteed in advance, and our fixed pricing between your pickup and dropoff cities means no hidden costs. Plans change? Change or cancel your ride for free up until 24 hours before pickup. Anticipate a stop or two along the way? Blacklane chauffeurs have you covered. For small groups, our Business Van or SUV service class means additional workspace without sacrificing comfort or style.
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*End blog*@

    <div class="container pt-4">
        <div class="row">
            <div class="col-md-6">
                <h2>Download the app</h2>
                <p class="fw-light">Easily book, change, or cancel rides on the go. Think of it as peace of mind in the palm of your hand.</p>

                <div class="py-3">
                    <span><a href="#" class="link-light text-decoration-none"><img src="images/app-store.png" alt="apple-store" height="30"></a></span>
                    <span><a href="#" class="link-light text-decoration-none"><img src="images/google-play.png" alt="google-play" height="30"></a></span>
                </div>
            </div>

            <div class="col-md-6">
                <img src="images/phone.webp" class="img-fluid">
            </div>
        </div>
    </div>

</div>


