@page "/help"

<PageTitle>Luefty Help Center</PageTitle>

<div class="bg-dark py-4">
    <div class="container py-4">
        <h3 class="text-light">How can we help you?</h3>
    </div>
</div>

<div class="bg-light">
    <div class="container py-4">
        <div class="card shadow-sm border-0 mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2 text-center">
                        <img src="icons/books-svgrepo-com 2.svg" height="40" />
                    </div>
                    <div class="col-md-10">
                        <h5>Getting started</h5>
                        <span class="text-secondary">
                            43 articles in this collection <br />
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="card shadow-sm border-0 mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2 text-center">
                        <img src="icons/sent-mail-svgrepo-com.svg" height="40" />
                    </div>
                    <div class="col-md-10">
                        <h5>Managing bookings</h5>
                        <span class="text-secondary">
                            43 articles in this collection <br />
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="card shadow-sm border-0 mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2 text-center">
                        <img src="icons/gear-svgrepo-com.svg" height="40" />
                    </div>
                    <div class="col-md-10">
                        <h5>Accounts</h5>
                        <span class="text-secondary">
                            43 articles in this collection <br />
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="card shadow-sm border-0 mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2 text-center">
                        <img src="icons/dolar-svgrepo-com.svg" height="40" />
                    </div>
                    <div class="col-md-10">
                        <h5>Billing and Payment</h5>
                        <span class="text-secondary">
                            43 articles in this collection <br />
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="card shadow-sm border-0 mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2 text-center">
                        <img src="icons/notebook-svgrepo-com.svg" height="40" />
                    </div>
                    <div class="col-md-10">
                        <h5>Chauffeur Hailing</h5>
                        <span class="text-secondary">
                            43 articles in this collection <br />
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="card shadow-sm border-0 mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2 text-center">
                        <img src="icons/book-svgrepo-com.svg" height="40" />
                    </div>
                    <div class="col-md-10">
                        <h5>Safety FAQs</h5>
                        <span class="text-secondary">
                            Last updated: March 18, 2020 
                        </span> <br />
                        <small class="text-secondary">
                            43 articles in this collection <br />
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@code {

}

