@page "/"

<PageTitle>Luefty - World's First Auction Based Pricing cambiado</PageTitle>
<div class="">
    <div class="container">
        <h3 class="py-3">World's First Auction Based Pricing</h3>
    </div>

    <div>
        <img class="img-fluid" src="images/slides/Desktop_1440_360.webp" />
    </div>

    <div class="bg-dark text-light">
        <div class="container p-4">
            <h1>Chauffeurs at your fingertips</h1>
            <p>Download the Blacklane app to easily book safe, private rides while you're on the go.</p>

            <div class="py-3">
                <span><a href="#" class="link-light text-decoration-none"><img src="images/app-store.png" alt="apple-store" height="30"></a></span>
                <span><a href="#" class="link-light text-decoration-none"><img src="images/google-play.png" alt="google-play" height="30"></a></span>
            </div>
        </div>
    </div>



    <div class="container py-4">
        <h1 class="text-center py-4">Our services</h1>

        <div class="row">
            <div class="col-4">
                <div class="card border-0">
                    <img src="images/intercity_rides.jpeg" class="card-img-top rounded" alt="Rides">
                    <div class="card-body px-0">
                        <span class="fs-6">Intercity rides</span>
                        <small class="fw-light">Your stress-free solution for traveling between cities, with chauffeurs across the globe.</small>
                        <a href="#" class="link-dark">Learn more</a>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="card border-0">
                    <img src="images/intercity_rides.jpeg" class="card-img-top rounded" alt="Rides">
                    <div class="card-body px-0">
                        <span class="fs-6">Chauffeur hailing <span class="badge bg-danger">New</span></span>
                        <small class="fw-light">Enjoy the quality of a traditional chauffeur, with the convenience of riding within minutes of booking.</small>
                        <a href="#" class="link-dark">Learn more</a>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="card border-0">
                    <img src="images/intercity_rides.jpeg" class="card-img-top rounded" alt="Rides">
                    <div class="card-body px-0">
                        <span class="fs-6">Airport transfers</span>
                        <small class="fw-light">With additional wait time and flight tracking in case of delays, our service is optimized to make every airport transfer a breeze.</small>
                        <a href="#" class="link-dark">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-light py-4">
        <div class="container">
            <h1 class="text-center">Intercity routes</h1>

            <div class="py-4">
                <h3>Top cities</h3>
                <div class="row">
                    <div class="col-3">
                        <div class="card">
                            <img src="images/intercity_rides.jpeg" class="card-img-top" alt="Rides">
                            <div class="card-body">
                                <span class="fs-6">London</span> <br />
                                <small class="fw-light">20 ourtes to/from this city</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="card">
                            <img src="images/intercity_rides.jpeg" class="card-img-top" alt="Rides">
                            <div class="card-body">
                                <span class="fs-6">London</span><br />
                                <small class="fw-light">20 ourtes to/from this city</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="card">
                            <img src="images/intercity_rides.jpeg" class="card-img-top" alt="Rides">
                            <div class="card-body">
                                <span class="fs-6">London</span><br />
                                <small class="fw-light">20 ourtes to/from this city</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="card">
                            <img src="images/intercity_rides.jpeg" class="card-img-top" alt="Rides">
                            <div class="card-body">
                                <span class="fs-6">London</span><br />
                                <small class="fw-light">20 ourtes to/from this city</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="py-4">
                <h3>Top routes</h3>
                <div class="row">
                    <div class="col-3 mb-2">
                        <div class="card">
                            <div class="card-body">
                                <span class="fs-6">London <span class="oi oi-arrow-right"></span> Brighton</span><br />
                                <small class="fw-light">1h 30m  70 mi</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="card mb-2">
                            <div class="card-body">
                                <span class="fs-6">London <span class="oi oi-arrow-right"></span> Cheltenham</span><br />
                                <small class="fw-light">2h 30m  96 mi</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="card mb-2">
                            <div class="card-body">
                                <span class="fs-6">London <span class="oi oi-arrow-right"></span> Hamburg</span><br />
                                <small class="fw-light">3h 15m  287 km</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="card mb-2">
                            <div class="card-body">
                                <span class="fs-6">London <span class="oi oi-arrow-right"></span> Northampton</span><br />
                                <small class="fw-light">1h 45m  68 mi</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="card mb-2">
                            <div class="card-body">
                                <span class="fs-6">London <span class="oi oi-arrow-right"></span> Brighton</span><br />
                                <small class="fw-light">1h 30m  70 mi</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="card mb-2">
                            <div class="card-body">
                                <span class="fs-6">London <span class="oi oi-arrow-right"></span> Cheltenham</span><br />
                                <small class="fw-light">2h 30m  96 mi</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="card mb-2">
                            <div class="card-body">
                                <span class="fs-6">London <span class="oi oi-arrow-right"></span> Hamburg</span><br />
                                <small class="fw-light">3h 15m  287 km</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="card mb-2">
                            <div class="card-body">
                                <span class="fs-6">London <span class="oi oi-arrow-right"></span> Northampton</span><br />
                                <small class="fw-light">1h 45m  68 mi</small>
                            </div>
                        </div>
                    </div>
                </div>
                @*End row*@

                <div class="row">
                    <div class="col">
                        <div class="col-12">
                            <div class="card mb-2">
                                <div class="card-body">
                                    <div class="d-flex">
                                        <div class="p-2 flex-grow-1">
                                            <span class="fs-6">Don't see the route you are looking for?</span><br />
                                            <small class="fw-light">Enter your ideal destinations to see the price.</small>
                                        </div>
                                        <div class="p-2">
                                            <a class="btn btn-primary btn-block btn-lg">Book an intercity ride</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*End Intercity routes*@

    <div class="container py-4">
        <div class="row">
            <div class="col-4 text-center">
                <div class="py-3">
                    <img src="icons/shield-checked-svgrepo-com.svg" height="60" />
                </div>

                <div class="fs-4 py-2">Safety first</div>
                <div class="">Travel confidently knowing your safety is our #1 priority. Rigorous health and cleaning standards round out a best-in-class service.</div>

            </div>

            <div class="col-4 text-center">
                <div class="py-3">
                    <img src="icons/car-svgrepo-com.svg" height="60" />
                </div>

                <div class="fs-4 py-2">Private travel solutions</div>
                <div class="">Discover your one-stop travel shop: long-distance rides, one way or return, by the hour, airport transfers, special deliveries.</div>

            </div>

            <div class="col-4 text-center">
                <div class="py-3 py-2">
                    <img src="icons/leaf-svgrepo-com.svg" height="60" />
                </div>

                <div class="fs-4">Sustainable travel</div>
                <div class="">Breathe easy knowing all rides are 100% carbon neutral, as part of our global carbon offset program — the industry’s first.</div>

            </div>
        </div>
    </div>
    @*End icons*@

    <div class="bg-light">
        <div class="container py-4 text-center">
            <h1>“New chauffeur-hailing service seeks to challenge Uber, Lyft in city rides”</h1>
            <div class="py-2"></div>
            <div class="py-2 fs-5">The Wall Street Journal</div>
        </div>
    </div>
    @*End text*@

</div>


