@page "/"

<PageTitle>Luefty - World's First Auction Based Pricing</PageTitle>
<div class="">
    <div class="container">
        <h3 class="py-3">World's First Auction Based Pricing</h3>
    </div>

    <div>
        <img class="img-fluid" src="images/slides/Desktop_1440_360.webp"/>
    </div>

    <div class="bg-dark text-light">
        <div class="container p-4">
            <h1>Chauffeurs at your fingertips</h1>
            <p>Download the Blacklane app to easily book safe, private rides while you're on the go.</p>

            <div class="py-3">
                <span><a href="#" class="link-light text-decoration-none"><img src="images/app-store.png" alt="apple-store" height="30"></a></span>
                <span><a href="#" class="link-light text-decoration-none"><img src="images/google-play.png" alt="google-play" height="30"></a></span>
            </div>
        </div>
    </div>



    <div class="container py-4">
        <h1 class="text-center py-4">Our services</h1>

        <div class="row">
            <div class="col-4">
                <div class="card border-0">
                    <img src="images/intercity_rides.jpeg" class="card-img-top rounded" alt="Rides">
                    <div class="card-body px-0">
                        <h5 class="card-title">Intercity rides</h5>
                        <p class="fw-light">Your stress-free solution for traveling between cities, with chauffeurs across the globe.</p>
                        <a href="#" class="link-dark">Learn more</a>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="card border-0">
                    <img src="images/intercity_rides.jpeg" class="card-img-top rounded" alt="Rides">
                    <div class="card-body px-0">
                        <h5 class="card-title">Chauffeur hailing <span class="badge bg-danger">New</span></h5>
                        <p class="fw-light">Enjoy the quality of a traditional chauffeur, with the convenience of riding within minutes of booking.</p>
                        <a href="#" class="link-dark">Learn more</a>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="card border-0">
                    <img src="images/intercity_rides.jpeg" class="card-img-top rounded" alt="Rides">
                    <div class="card-body px-0">
                        <h5 class="card-title">Airport transfers</h5>
                        <p class="fw-light">With additional wait time and flight tracking in case of delays, our service is optimized to make every airport transfer a breeze.</p>
                        <a href="#" class="link-dark">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-light py-4">
        <div class="container">
            <h1 class="text-center">Intercity routes</h1>

            <div class="py-4">
                <h3>Top cities</h3>
                <div class="row">
                    <div class="col-3">
                        <div class="card">
                            <img src="images/intercity_rides.jpeg" class="card-img-top" alt="Rides">
                            <div class="card-body">
                                <h5 class="card-title">London</h5>
                                <p class="fw-light">20 ourtes to/from this city</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="card">
                            <img src="images/intercity_rides.jpeg" class="card-img-top" alt="Rides">
                            <div class="card-body">
                                <h5 class="card-title">London</h5>
                                <p class="fw-light">20 ourtes to/from this city</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="card">
                            <img src="images/intercity_rides.jpeg" class="card-img-top" alt="Rides">
                            <div class="card-body">
                                <h5 class="card-title">London</h5>
                                <p class="fw-light">20 ourtes to/from this city</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="card">
                            <img src="images/intercity_rides.jpeg" class="card-img-top" alt="Rides">
                            <div class="card-body">
                                <h5 class="card-title">London</h5>
                                <p class="fw-light">20 ourtes to/from this city</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="py-4">
                <h3>Top routes</h3>
                <div class="row">
                    <div class="col-3 mb-2">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">London <span class="oi oi-arrow-right"></span> Brighton</h5>
                                <p class="fw-light">1h 30m  70 mi</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="card mb-2">
                            <div class="card-body">
                                <h5 class="card-title">London <span class="oi oi-arrow-right"></span> Cheltenham</h5>
                                <p class="fw-light">2h 30m  96 mi</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="card mb-2">
                            <div class="card-body">
                                <h5 class="card-title">London <span class="oi oi-arrow-right"></span> Hamburg</h5>
                                <p class="fw-light">3h 15m  287 km</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="card mb-2">
                            <div class="card-body">
                                <h5 class="card-title">London <span class="oi oi-arrow-right"></span> Northampton</h5>
                                <p class="fw-light">1h 45m  68 mi</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="card mb-2">
                            <div class="card-body">
                                <h5 class="card-title">London <span class="oi oi-arrow-right"></span> Brighton</h5>
                                <p class="fw-light">1h 30m  70 mi</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="card mb-2">
                            <div class="card-body">
                                <h5 class="card-title">London <span class="oi oi-arrow-right"></span> Cheltenham</h5>
                                <p class="fw-light">2h 30m  96 mi</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="card mb-2">
                            <div class="card-body">
                                <h5 class="card-title">London <span class="oi oi-arrow-right"></span> Hamburg</h5>
                                <p class="fw-light">3h 15m  287 km</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="card mb-2">
                            <div class="card-body">
                                <h5 class="card-title">London <span class="oi oi-arrow-right"></span> Northampton</h5>
                                <p class="fw-light">1h 45m  68 mi</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


